@-webkit-keyframes blinky {
	0%, 49% {
	    background-color: light-dark(var(--light),var(--dark));
	}
	50%, 100% {
	    background-color: light-dark(var(--dark),var(--light));
	}
}

.heading {
	margin: 16px 0 0;
	position: relative;
	&::after {
		animation: blinky 1s 3;
		background-color: light-dark(var(--dark),var(--light));
		content: '';
		height: 30px;
		margin: 0 0 0 10px;
		position: absolute;
		width: 15px;
	}
}

.subparagraph {
	margin: 0 0 12px;
}

.subheading {
	padding: 10px 0;
	margin: 10px 0;
	&::before {
		content: '> ';
	}
}
