.timeline-date {
	min-width: 100px;
	padding: 0 20px;
	text-align: right;
	vertical-align: top;
}

.timeline-entry {
	border-left-width: 1px;
	padding: 0 20px 5px;
	vertical-align: top;
}

.timeline-entry-last {
	padding: 0 20px;
}

.timeline-list {
	list-style: circle inside;
	margin: 0;
	padding: 0 0 10px;
}

.timeline-list-last {
	padding: 0;
}

.timeline-sublist {
	list-style: circle inside;
	padding: 0 0 0 20px;
} 
